<section>
  <div class="container" style="padding-top: 25px;">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home/landing">Home</a></li>
        <li class="breadcrumb-item active">Notifications</li>
      </ol>
    </nav>

    <div class="rows mb-3">
      <div>
        <h1>Notifications 
          
        </h1>
        
      </div>
      <!--Notifications table -->
      <table class="table">
        <thead>
          <tr>
            <th>Project</th>
            <th>Slump value</th>
            <th>Created At</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let noti of notifications">


            <td>{{ noti.name }}</td>
            <td>{{ noti.value }}</td>
            <td>{{ noti.date}}</td>
            <td>
              <button *ngIf="noti.read == 'f' " (click)="read(noti.idnotification)" class="btn-sm btn-default">Read</button>
              <button *ngIf="noti.read == 't' " (click)="unread(noti.idnotification)" class="btn-sm btn-default">Unread</button>
            </td>

          </tr>
        </tbody>

      </table>
      <!--End Notifications table -->

      
    </div>


  </div>
</section>